<%- include('header'); -%>

    <div id="seed">Seed: <a href="/seed/<%= seed %>"><span id="seed-num"><%= seed %></span></a></div>

<%- include('instructions'); -%>

<%- include('game'); -%>

<%- include('footer'); -%>