<%- include('header'); -%>

    <div id="seed" style="display:block"><%= message %><span id="seed-num"><%= seed %></div>

<%- include('instructions'); -%>

<%- include('game'); -%>

<%- include('footer'); -%>